@model Survey.Models.EmailTemplateModel

@{
    ViewBag.Title = "EmailTemplate";
    Layout = "~/Views/Shared/_LayoutSurvey.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
    #templatename, #editor {
        width: 41%;
        margin-left: 10%;
        border: 1px solid grey;
    }

    .ck.ck-editor {
        /*  position: absolute !important;*/
        margin-left: 10% !important;
        min-width: 38% !important;
        max-width: 38% !important;
    }

    .ck-editor__main {
        height: 600px !important; /* Adjust the height value as needed */
    }

    .ck-content {
        min-height: 450px;
        max-height: 450px; /* Set your desired maximum height here */
        overflow-y: auto; /* Add scrollbars if content exceeds the maximum height */
    }

    #btnCreateTemplate {
        margin-left: 55% !important;
        background-color: blue;
        color: white;
        border-radius: 6px;
        /* margin-top:4% !important;*/
    }

    .ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred {
        height: 600px !important;
    }

    body {
        overflow: hidden;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="~/scripts/texteditor.js"></script>
</head>
<body>
    <br />
    <h3>Template Name</h3>
    <input type="text" id="templatename" value="@Model.TemplateName" />

    <h3>Body Content</h3>
    <div id="editor">
        <p></p>
    </div>

    <button class="btn-outline-primary" id="btnCreateTemplate" onclick="updateOutput()">Create Template</button>

    <div id="output"><p>@Model.Body_Content</p></div>
    <script>
        var editor;

        ClassicEditor
            .create(document.querySelector('#editor'))
            .then(createdEditor => {
                editor = createdEditor;

                // Load model value into CKEditor
                const modelBodyContent = '@Html.Raw(Model.Body_Content)';
                editor.setData(modelBodyContent);

            })
            .catch(error => {
                console.error(error);
            });


        function updateOutput() {
            var templateName = document.getElementById('templatename').value;
            var bodyContent = editor.getData();
            if (!templateName || !bodyContent) {
                alert('Template Name and Body Content cannot be null or empty.');
                return false;
            }

            // Make AJAX request to the controller
            $.ajax({
                url: '/Projectsurvey/EmailTemplate',
                type: 'POST',
                data: JSON.stringify({
                    ETM: {
                        TemplateName: templateName,
                        Body_Content: bodyContent
                    }
                }),
                contentType: 'application/json',
                success: function (data) {
                    // Handle success response
                    console.log('Data sent successfully');
                },
                error: function (error) {
                    // Handle error
                    console.error('Error sending data:', error);
                }
            });
        }

    </script>
</body>
</html>
